# visit https://docs.verygoodsecurity.com/agentic-commerce/collect-card-data-from-user to learn how to provision service account credentials
VGS_CLIENT_ID=your-client-id
VGS_CLIENT_SECRET=your-client-secret