# VGS Configuration
VGS_VAULT_ID=tntonm7yolo
VGS_USERNAME=USnCmTdQ1ivhthSK6JP5MEZQ
VGS_PASSWORD=8333b2b5-d05a-460e-9072-13258b5e4d9f
VGS_ENVIRONMENT=sandbox

# PSP Configuration
STRIPE_SECRET_KEY=sk_test_51ROLnRB4A5zSmJuaqu4fTblhaazLdQVQVxCSQUJToOw1HWxLjeE9mBUJovOYIKqcDjf7BK29hYoBX0muZ3Lmz89k00XoojwdHT

# Server Configuration
PORT=3031 