# VGS Configuration
VGS_VAULT_ID=your-vgs-vault-id
# see https://docs.verygoodsecurity.com/agentic-commerce/provisioning-psp-tokens-for-payments
VGS_USERNAME=your-vgs-vault-runtime-username
VGS_PASSWORD=your-vgs-vault-runtime-password
VGS_ENVIRONMENT=sandbox

# PSP Configuration
STRIPE_SECRET_KEY=your-stripe-account-secret-key

# Server Configuration
PORT=3031 